doctype html
html
    head
        link(rel="stylesheet" href="style.css")
    body
        header
            div.header_container_logo
                img(src="images/logo.png", alt="", width="128", height="79").header_container_img
            div.header_container_text
                span.header_container_text_innerText Log In
        section.section_body
            div.section_body_form
                span.section_body_form_title Sign In
                //divisor
                input(type='text' name='user')#user_input
